.black-menu {
    max-width: 100vw;
    height: 5%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    place-items: center;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
 
}

.black-menu  .left{
    display: flex;
    justify-content: flex-start;
}

.black-menu  .right{
    display: flex;
    justify-content: flex-end;
}

.black-menu .right .nav-item{
    list-style: none;
    font-size: 1rem;
    margin: 0.1rem 1rem;
}

.black-menu .left .nav-item{
    list-style: none;
    margin: 0.1rem 0.4rem;
    font-size: 1em;
  
}


.black-menu .globe{
    height: 1em;
}