.header-collections{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: block;
    top: 2%;

    nav {
        height: 20%;
        display: flex; 
        background-color: green;
        align-items: center;
        justify-content: space-evenly;   
    }

    .nav-box  {
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 1.5rem 
    }

    .logo-img{
        margin: 1rem 0.1rem;
        max-height: 5rem;
        height: auto;
        width: 100%;
    }
}




